{% extends "layout.html" %}

{% block headblock %}
{% if pcntdiffs %}
<script>
    console.log({{ pcntdiffs|tojson }});
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2",
        title: {
            text: "% Difference from Opponent by Stat"
        },
        axisX: {
            minimum: 0,
            maximum:20
        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            verticalAlign: "top",
            horizontalAlign: "center",
            dockInsidePlotArea: true,
            itemclick: toogleDataSeries
        },
        data: {{ pcntdiffs|tojson }}
    });
    chart.render();
    
    function toogleDataSeries(e){
        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else{
            e.dataSeries.visible = true;
        }
        chart.render();
    }
    
    }
    </script>
{% endif %}
{% endblock %}

{% block titleblock %}
{{ team }}
{% endblock %}




{% block main %}

<div class="container" id="teamdetail">
    <div class="row">
        {% if not team %}
            {% for t in teamslist %}
            <form href="/teamdetail" method="get">
                <input type="hidden" name="team" value="{{t.team_identifier}}" />    
                <button type="submit" id="{{t.team_identifier}}" class="btn btn-light" >{{ t.city }}</button>
            </form>
            {% endfor %}
        {% else %}
        <div class="col">
          <image src='/static/logos/{{ team }}.png' alt="team-logo">
        </div>
        <div class="col" style="display: flex; align-items: center;">
          <h1>
            {% if games %}
                <td>{{ games[0].city }} {{ games[0].name }}</td>
            {% else %}
                <td>{{ team }}</td>
            {% endif %}
          </h1>
        </div>
        </div>
        <div class="row" style="height: 40px;"></div>
        
        <div class="row" >
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="row">
            <div class="col">
                <form action="/teamdetail" method="post">
                    <input type="hidden" name="team" value="{{ team }}">
                    {% for stat in availablestats %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="stat" type="checkbox" value="{{ stat }}" id="{{ stat }}">
                        <label class="form-check-label" for="{{ stat }}">
                        {{ stat }}
                        </label>
                    </div>
                    {% endfor %}   
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>       
                    </div> 
                </form>
            </div>
        </div>
        <div class="row" style="height: 40px;"></div>

        <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="9"><h1>Recent Form</h1></th>
                    </tr>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Round</th>
                        <th scope="col">Year</th>
                        <th scope="col">Team</th>
                        <th scope="col">For</th>
                        <th scope="col">Opponent</th>
                        <th scope="col">Against</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Venue</th>
                    </tr>
                </thead>
                <tbody id='tablebod'>
                {% for game in games %}
                {% if game.winner == game.team %}
                    <tr class='gamewin'>
                {% else %}
                    <tr class='gameloss'>
                {% endif %}
                            <td>{{ game.date }}</td>
                            <td>{{ game.round }}</td>
                            <td>{{ game.year }}</td>
                            <td>{{ game.team }}</td>
                            <td>{{ game.for }}</td>
                            <td>{{ game.opponent }}</td>
                            <td>{{ game.against }}</td>
                            <td>{{ game.winner }}</td>
                            <td>{{ game.venue }}</td>
                        </tr>
                    
                {% endfor %}
                </tbody>
            </table>
        </div>
      </div>

      {% endif %}
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



{% endblock %}